<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Debugger will use Mono.Posix from Mono runtime -->
  <package id="JetBrains.Mono.Posix" version="20160916.48" targetFramework="net40" developmentDependency="true" />

  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net40" />
</packages>